:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-description-color: #757575;
  --header-background-color: #fff;
  --footer-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --button-hover-color: #fff;
}
.body {
  font-family: var(--main-font);
  background-color: #ffffff;
  color: var(--title-color);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}
.adress {
  font-style: normal;
}

/*======= LOGO =======*/

.logo-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-titte-up {
  color: var(--title-color);
}

.logo-title-down {
  color: #fff;
}

/*========HEADER========*/

.navigation-link {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.current {
  color: var(--accent-color);
}

.navigation-link:hover,
.navigation-link:focus {
  cursor: pointer;
  color: var(--accent-color);
}

.mailto-link,
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: var(--text-description-color);
}

.mailto-link:hover,
.mailto-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/* ======== END HEADER ======== */

/*============== FOOTER ==================*/
.footer {
  background-color: var(--footer-background-color);
}

.footer .adress-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-background-color);
}

/*============== END FOOTER ============*/

/* ======== HERO ======= */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: 0px;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/*======= END HERO ====== */

/*======= ABOUT ========= */
.about-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}
.about-title-description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-description-color);
}
/*======== END ABOUT ======== */

/* ======= SERVICES ========= */

.services-title,
.crew-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}
/*====== END SERVICES ====== */

/*======= CREW ======= */

.crew-title {
  background-color: var(--secondary-background-color);
}

.crew-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
}

.crew-list-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-description-color);
}

/*======= END CREW ======*/

/*======= PORTFOLIO =======*/

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  /* identical to box height, or 200% */
  letter-spacing: 0.06em;

  color: var(--title-color);
}

.portfolio-title-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--text-description-color);
}

.button {
  font-weight: 500;
  border: 0.5px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--button-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
